{% extends "master.html" %}
{% block title %} {{title}} {% endblock %}

{% block content %} 





<h1>This is the homepage</h1>

<form method="POST" class="d-flex  sticky-top" style="padding-left: 1.75rem;">
  <input class="form-control me-2" name="item_search" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<div class='row card-group' style="padding: 25px;">
{% for product in products %}
<div class="col-3" style="padding-top: 10px;">
<div class="card" style="width: 13rem;">
    <img style="width: 200px;height: 230px;" src="{{url_for('static',filename=product.p_image)}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{product.p_name}}</h5>
      <p class="card-text">{{product.p_desc}}</p>
      <p class="card-text">{{product.c_name}}</p>
      <a href="/products/id/{{product.p_id}}" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}